:host {
  display: block;
  min-width: 900px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  min-width: 900px;
}

a.link {
  color: #fff;
  text-decoration: none;
}
