<form class="form"
      #project="ngForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)">
  <div mat-dialog-content>
    <h1 mat-dialog-title>{{isNew ? 'Add new project' : 'Edit project'}}</h1>
    <mat-form-field>
      <input matInput
             placeholder="Project Name"
             formControlName="name"
             type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Client Name"
             formControlName="clientName"
             type="text">
    </mat-form-field>

    <mat-checkbox class="example-margin"
                  formControlName="addEmployees"
                  labelPosition="after">
      Add employees
    </mat-checkbox>

    <div class="employees-panel"
         *ngIf="project.value.addEmployees">
      <app-employees [title]="'Add employees to project ' + project.value.name"
                     [color]="'gray'"
                     [showActions]="false"
                     [selectable]="true"
                     [selected]="project.value.employeeIds"
                     (selectionChange)="onSelectionChange($event)"></app-employees>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button
            color="primary"
            [disabled]="!project.valid">Save</button>
  </div>
</form>
