$unit: 1.125em;

.mat-title {
  margin: $unit * 5 auto $unit;
  text-align: center;
}

form {
  max-width: $unit * 20;
  margin: auto;
  text-align: center;

  mat-form-field {
    display: block;
    width: 100%;
  }
}

p {
  margin: $unit 0;
}
