<h1 class="mat-title">Sign up to HR Management</h1>

<form [formGroup]="registerForm"
      (ngSubmit)="register(registerForm.value)">
  <mat-form-field>
    <input matInput
           placeholder="Your email address"
           type="email"
           formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Password"
           type="password"
           formControlName="password">
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="registerForm.pristine || !registerForm.valid || processing"
            class="btn btn-default">
      {{redirecting ? 'Signing in...' : 'Sign me up'}}
    </button>
  </div>

  <p class="mat-body"
     *ngIf="!redirecting">
    Already have an account? <a class="link"
       routerLink="/home/signin">Sign in</a>
  </p>
</form>
