<h1 class="mat-title">Sign in</h1>

<form [formGroup]="signInForm"
      (ngSubmit)="signIn(signInForm.value)">
  <mat-form-field>
    <input matInput
           placeholder="Your email address"
           type="email"
           formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Your password"
           type="password"
           formControlName="password">
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="signInForm.pristine || !signInForm.valid || processing"
            class="btn btn-default">
      {{redirecting ? 'Signing in...' : 'Sign me in'}}
    </button>
  </div>

  <p class="mat-body">
    Don't have an account? <a class="link"
       routerLink="/home/signup">Sign up</a>
  </p>

  <p class="mat-body">
    or
  </p>

  <p>
    <button mat-raised-button
            color="accent"
            type="button"
            [disabled]="processing"
            (click)="signInGoogle()"
            class="btn btn-default">
      Sign in with Google
    </button>
  </p>

  <!-- <p>
    <button mat-raised-button
            color="accent"
            type="button"
            [disabled]="processing"
            (click)="signInFacebook()"
            class="btn btn-default">
      Sign in with Facebook
    </button>
  </p> -->

  <label class="error">{{errorMessage}}</label>
  <label class="success">{{successMessage}}</label>
</form>
