<h1 class="mat-title">Sign in</h1>

<form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">
  <mat-form-field>
    <input
      matInput
      placeholder="Your email address"
      type="email"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Your password"
      type="password"
      formControlName="password"
    />
  </mat-form-field>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signInForm.pristine || !signInForm.valid || processing"
      class="btn btn-default"
    >
      {{ processing ? 'Signing in...' : 'Sign me in' }}
    </button>
  </div>

  <p class="mat-body">
    Don't have an account? <a class="link" routerLink="/home/signup">Sign up</a>
  </p>
</form>
