<form class="form" #employeeForm="ngForm"
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)">
  <h1 mat-dialog-title>{{isNew ? 'Add new employee' : 'Edit employee'}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput
             placeholder="First Name"
             formControlName="firstName"
             id="name"
             type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Last Name"
             formControlName="lastName"
             id="lastname"
             type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="birthday"
             formControlName="birthday"
             id="birthday"
             type="date">
    </mat-form-field>

    <!-- <mat-form-field>
      <select name="project"
              id="project">
        <option value="1">1</option>
      </select>
    </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button
            color="primary"
            [disabled]="!employeeForm.valid || !employeeForm.dirty">Save</button>
  </div>
</form>
